*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

       /*>>>>>>>>>>>>>>NAVBAR CSS<<<<<<<<<<<<<<<<<<<<*/

/* .header.navbar-dark.navbar-brand{
 width: 120px;
 display: inline-block;

} */

.appheader .navbar-dark .navbar-brand {
    color: rgb(42, 10, 10);
    width: 120px;
    display: inline-block;
}
.appheader .logo {
    width: 35%;
}
.appheader .navbar-dark .navbar-nav .nav-link {

    color: #fff;
    text-transform: uppercase;
}
.appheader .navbar-nav .active > .nav-link{

   color:gold
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>Carousel Section<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.carousel-item{
    height: 450px;
    
}
.carouselSection .iphone{

height: 100%;
object-fit: cover;
width: 100%;
/* background-size: cover;
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat; */

}

.carouselSection .head3{
    position: absolute;
    bottom: auto;
    top: 85px;
}


/* >>>>>>>>>>>>>>>>>>>>>>>>Home Heading<<<<<<<<<<<<<<< */

.homeHeading,.video{
    background-image: url("../images/nature-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}

.homeHeading::before,.video::before{
    color: '';
    background: rgba(0,0,0,0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}

/* >>>>>>>>>>>>>>>>>>>>>>>Video Section<<<<<<<<<<<<<<<<<<<<<< */

.video{
    background-image: url('../images/video.jpg');
    position: relative;
}

/* 
.applePad{
    position: relative;
    bottom: auto;
    top: 50px;
   
} */


/* >>>>>>>>>>>>>>>>>>>>>>>Footer<<<<<<<<<<<<<<<<<<<<<< */

.footer{
    background-color: #000;
}
